.input  input, select
{
    width: 100%;
    background: #222;
    color: white;

}
.listacap  h1, h4
{
    width: 100%;
    color: white;

}
select:hover, input:hover
{
  opacity: 1.0;
   filter: alpha(opacity=100);

}
